@charset "UTF-8";
@media screen and (min-width: 768px) { 
* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
            margin:0;
            font-size: 100%;
           
  }
body {
    font-family: 'Philosopher', sans-serif;
}
header {
    display: flex;
    height:25px;
}
header h1 {
    margin: 0 0 0 190px ;
}
header h1 img {
    padding:15px;
    height:75px;
    width: auto;
}
header nav {
  margin:50px 130px 0 auto;
}
header nav ul {
    list-style-type: none;
    color: #663300;
    font-size: 18px;
    margin: 0;
    padding: 0 13px;
    display: flex;
}
header nav ul li a,
header nav ul li a:visited {
    display: block;
    padding: 0 13px;
    text-decoration: none;
    color: black;
}
header nav ul li a:hover {
    display: block;
    padding: 0 13px;
    text-decoration: none;
    color: #2cc4e4;
}
.background-body{
    background-image: url("../images/main-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.header-menu {
    background-image: url("../images/menu-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 110vh;
    background-blend-mode: screen;
    background-color:rgba(255,255,255,0.4);
    background-blend-mode:lighten;
}
.page-menu {
    width: 33%;
    margin: 200px auto 0;
    color: #663300;
}
.page-menu h2 {
    font-size: 70px;
    text-align: center;
    margin-bottom: 30px;
}
.page-menu p {
    font-size:17px;
    text-align:left;
}
.header-contact {
    background-position: -35px -15px;
    background-image: url("../images/contact-bg.jpg");
    background-repeat: no-repeat;
    background-size: 123%;
    height: 125vh;
    background-blend-mode: screen;
    background-color:rgba(255,255,255,0.4);
    background-blend-mode:lighten;
}
main .inner {
    margin:200px auto 0 10px;
}
main .inner h2,p {
    text-align: center;
    color: #663300;
}
main .inner h2 {
    font-size: 75px;
    margin-bottom: 30px;
}
main .inner button {
    display: block;
    color: white;
    background: #20c4dd	;
    padding: 10px 25px;
    margin: 20px auto 0;
    border-radius: 5px;
}
main .page-top {
    background-position: -100px -30px;
    background-image: url("../images/news-bg.jpg");
    background-repeat: no-repeat;
    background-size: 120%;
    height: 45vh;
    margin:0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 60px;
}
main .page-top h2 {
    text-align: center;
    color: #663300;
}
main .page-menu {
    background-image: url("../images/menu-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    margin:0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 60px;
}
.main {
    margin: 50px 250px 20px 180px;
    text-align: left;
    
}
.main h2 {
    font-size: 28px;
    font-weight: normal;
    margin-left: 15px;
    line-height: 1.7;
    color: #663300;
    
}
.main img {
    display: block;
    width: 100%;
    margin:30px auto 30px;
}
.flexbox {
    display: flex;
    margin-bottom: 30px;
}
.flexbox-top {
    display: flex;
    flex-direction: row;

}
.circle {
    height: 80px;
    width: 120px;
    border-radius: 50%;
    background: #2cc4e4;
    position: relative;
    display: inline-block;
    
}
.circle span {
    position: absolute;
    color: white;
}
.ctop {
    top: 3%;
    left: 50%;
    transform: translateX(-50%);
    border-bottom:solid 1px snow;
    font-size: 22px;
}
.cbottom {
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
   
}
.main p {
    font-size: 15px;
    text-align: left;
    color: #663300;
    line-height: 1.8;
}
.category {
    margin-left: 90px;
    color: #663300;
}
.side {
    margin: 40px 95px auto 13px;
}
.side h2 {
    font-size: 17px;
    font-weight: normal;
    padding: 10px 14px 10px 10px;
    border-bottom: 2px solid #2cc4e4 ;
}
.side ul {
        list-style-type: none;
        font-size: 14px;
        margin-bottom:40px ;
        
}
.side ul li {
    padding: 10px;
    border-bottom: 1px solid #ececec;
}

.side p {
    margin-top: 10px;
    padding:0 5px 0 10px;
    font-size: 14px;
    text-align: left;
    line-height: 1.9;
}

.container {
    display: grid; 
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    width: 68%;
    margin: 100px auto 30px;
    gap: 20px;

}
.item-boxA {
    grid-row: 1/3;
    grid-column: 1/3;
}
.item-boxA img {
    height: 92%;
}
.item-boxA p,
.item p {
    padding-top:10px;
}

.item-boxA p,img,
.item p,img {
    width: 100%;
    text-align: left;
}
form {
    margin-left: 210px;
    margin-top: 70px;
}

form h2,
form p,
form input,
form textarea {
    text-align: left;
}
.inputarea,
form textarea {
    background-color:rgba(255, 255, 255, 0.5);
    border: solid 1px white;
    border-radius: 5px;
}
.inputarea {
    height: 3em;
}

form h2 {
    font-size:65px;
}
.name {
    margin-top: 20px;
}
form p {
    padding:15px 10px 15px 0;
}
.button {
    display: block;
    color: white;
    background: #2cc4e4;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top:15px;
}
.map {
    height: 500px;
    width: 70%;
    margin: 50px auto;
    position: relative;
    
    
}
.map h3,
.map p {
    width: 30%;
    text-align: left;
}
.map h3 {
    font-size: 20px;
    border-bottom:solid 2px #2cc4e4;
    padding: 10px;
}
.map p {
    width: 30%;
    line-height: 1.8;
    padding: 10px;
}
.gmap {
    margin-top: 50px;
    margin-bottom: 50px;
}
.gmap iframe {
    width: 580px;
    height: 450px;
    float: right;
    position: absolute;
    top: 20px;
    left: 300px;
}
.sns-area {
    background-color: rgba(255, 204, 153, 0.2);
    padding: 30px 0;
}
.sns-items {
    display: flex;
    justify-content: space-between;
    margin: 10px auto 0;
    width: 70%;
    
}

.sns-item {
    width: 30%;
    margin-bottom: 20px;
}

.sns-item h3 {
    font-weight: normal;
    font-size: 20px;
    padding: 10px 5px;
    border-bottom: solid 2px #2cc4e4;
    margin-bottom: 20px;
}
.fb-container {
    width: 100%;
}


footer {
    clear: both;
}
footer p{
    background: #443424;
    color: white;
    text-align: center;
    font-size: 5px;
    padding: 30px;
    
}
}

@media screen and (max-width: 767px) { 
    * {
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
                margin:0;
                font-size: 100%;
               
      }
    
    body {
        font-family: 'Philosopher', sans-serif;
    }
    .body-news {
        background-position: -50px -10px;
        background-image: url("../images/news-bg.jpg");
        background-repeat: no-repeat;
        background-size: 135%;
        margin-bottom: 30px;
    }
    header {
        height:25px;
    }
    header h1 {
        text-align: center ;
        padding-top: 10px;
    }
    header h1 img {
        padding:;
        height:50px;
        width: auto;
        
    }
    header nav {
        margin:20px auto;
    }
    header nav ul {
        list-style-type: none;
        color: #663300;
        font-size: 18px;
        margin: 0 60px;
        padding: ;
        display: flex;
    }
    header nav ul li {
        padding: 0 15px;
    }
    header nav ul li a,
    header nav ul li a:visited {
        display: block;
        
        
        text-decoration: none;
        color: black;
    }
    header nav ul li a:hover {
        display: block;
        
        text-decoration: none;
        color: #2cc4e4;
    }
    .background-body{
        background-position: -300px -20px;
        background-image: url("../images/main-bg.jpg");
        background-repeat: no-repeat;
        background-size: 270%;
        
        
    }
    
    .header-menu {
        background-position: -290px 0;
        background-image: url("../images/menu-bg.jpg");
        background-repeat: no-repeat;
        background-size: 250%;
        height: 85vh;
        width: 100%;
        background-blend-mode: screen;
        background-color:rgba(255,255,255,0.4);
        background-blend-mode:lighten;
    }
    .page-menu {
        width: 90%;
        margin: 150px auto;
        color: #663300;
    }
    .page-menu h2 {
        font-size: 30px;
        text-align: center;
        margin-bottom: 30px;
    }
    .page-menu p {
        font-size:16px;
        text-align:left;
    }
    .header-contact {
        background-image: url("../images/contact-bg.jpg");
        background-position:;
        background-repeat: no-repeat;
        background-size: 400%;
        height: auto;
        width: 100%;
        background-blend-mode: screen;
        background-color:rgba(255,255,255,0.4);
        background-blend-mode:lighten;
    }
   main .inner {
        margin:150px auto 0 10px;
    }
    main .inner h2,p {
        color: #663300;
    }
    main .inner h2 {
        text-align: center;
        font-size: 35px;
        margin-bottom: 10px;
    }
    main .inner p {
        text-align: left;
        margin: 0 12px;
    }
    main .inner button {
        display: block;
        color: white;
        background: #20c4dd	;
        padding: 10px 25px;
        margin: 20px auto 0;
        border-radius: 5px;
    }
    main .page-top {
    
        height: 45vh;
        margin:0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
       
        
    }
    main .page-top h2 {
        text-align: center;
        color: #663300;
        font-size: 40px;
    }
    main .page-menu {
        background-image: url("../images/menu-bg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 50vh;
        margin:0 auto;
        justify-content: center;
        align-items: center;
        text-align: center;
       
    }
    .main {
        margin: 0 5px;
        text-align: left;
        
    }
    .main h2 {
        font-size: 20px;
        font-weight: normal;
        margin-left: 15px;
        line-height: 1.7;
        color: #663300;
        
    }
    .main img {
        display: block;
        width: 100%;
        margin:30px auto 30px;
    }
    .flexbox {
        margin:0 20px 50px;
    }
    .flexbox-top {
        display: flex;
        flex-direction: row;
    
    }
    .circle {
        height: 50px;
        width: 100px;
        border-radius: 50%;
        background: #2cc4e4;
        position: relative;
        display: inline-block;
        
        
    }
    .circle span {
        position: absolute;
        color: white;
    }
    .ctop {
        top: 10%;
        left: 50%;
        transform: translateX(-50%);
        border-bottom:solid 1px snow;
        font-size: 12px;
    }
    .cbottom {
        bottom: 8%;
        left: 50%;
        transform: translateX(-50%);
    ã€€  font-size: 11px;
    }
    .main p {
        font-size: 14px;
        text-align: left;
        color: #663300;
        line-height: 1.6;
    }
    .category {
        margin-left: 70px;
        color: #663300;
    }
    
    .side h2 {
        font-size: 17px;
        font-weight: normal;
        padding: 10px 14px 10px 10px;
        border-bottom: 2px solid #2cc4e4 ;
    }
    .side ul {
            list-style-type: none;
            font-size: 14px;
            margin-bottom:40px ;
            
    }
    .side ul li {
        padding: 10px;
        border-bottom: 1px solid #ececec;
    }
    
    .side p {
        margin-top: 10px;
        padding:0 5px 0 10px;
        font-size: 14px;
        text-align: left;
        line-height: 1.5;
    }
    
    
    .container {
        margin-bottom: 50px;
    }
    .item-boxA,
    .item {
        margin: 20px;
    }

    .item-boxA p,
    .item p {
        padding-top:10px;
    }
    
    .item-boxA p,img,
    .item p,img {
        width: 100%;
        text-align: left;
    }
    form {
        margin:100px 20px 20px;
        padding-bottom: 30px;
    }
    
    
    form p,
    form input,
    form textarea {
        text-align: left;
    }
    .inputarea,
    form textarea {
        background-color:rgba(255, 255, 255, 0.5);
        border: solid 1px white;
        border-radius: 5px;
    }
    .inputarea {
        height: 2em;
        width: 100%;
    }
    
    form h2 {
        font-size:40px;
        margin-top: 150px;
    }
    .name {
        margin-top: 20px;
    }
    form p {
        padding: 10px 0;
    }
    .button {
        display: block;
        color: white;
        background: #2cc4e4;
        padding: 10px 20px;
        border-radius: 5px;
        margin-top:15px;
    }
    .map {
        margin: 20px;
    }
    .map h3 {
        font-size: 20px;
        font-weight: normal;
        padding-bottom: 10px;
        border-bottom: solid 2px #2cc4e4;
    }
    .map p {
        margin: 10px 0;
    }
    .gmap {
        height: 0;
        overflow: hidden;
        padding-bottom: 56.25%;
        position: relative;
    }
    .gmap iframe {
        position: absolute;
        left: 0;
        top:0;
        height: 100%;
        width: 100%;
    }
    .sns-items {
        background-color:rgba(255, 204, 153, 0.2);
        padding-top: 5px;
        padding-bottom: 30px;
    }
    .sns-items h3 {
        font-weight: normal;
        font-size: 20px;
        padding-bottom: 10px;
        border-bottom: solid 2px #2cc4e4;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .sns-item {
        margin: 10px 20px 0;
    }
    .fb-container {
        width: 100%;
        height: 100%;
    }
    .fb-page {
        width: 340px;
    }
   
   
    footer {
        background: #443424;
        width: 100%;
    }
    footer p{
        color: white;
        text-align: center;
        font-size: 5px;
        padding-top:25px;
        margin-bottom: 0;
        
    }


}